<% include partials/header %>

<h1>Steps to add a stylesheet and make it work:</h1>

<ol>
  <li>add a <strong>link</strong> with <strong>rel="stylesheet"</strong> & <strong>href="app.css"</strong> to your .ejs template</li>
  <li>add <strong>"app.use(express.static("public"));"</strong> to app.js so you can refer to just "app.css" and not "public/app.css" in your .ejs file</li>
  <li>create a <strong>public</strong> folder and in there your <strong>app.css</strong> file</li>
  <li class="redtext">and you are set to make this li with class="redtext" red!</li>

</ol>

<% include partials/footer %>
