<% include partials/header %>

<h1>This is the home page</h1>

<li>Visit <a href="http://localhost:1111/sports/hockey">localhost:1111/sports/hockey</a> or fill in any other sport at the end</li>
<li>Visit <a href="http://localhost:1111/adventures">localhost:1111/adventures</a> to check out an object with 3 adventures</li>
<li>Visit <a href="http://localhost:1111/external-stylesheet">localhost:1111/external-stylesheet</a> to see how to add an external stylesheet</li>

<% include partials/footer %>
