<% include ../partials/header %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>User status</th>
      <th>Toggle Admin</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user){ %>
      <tr>
        <td>test</td>
        <td><%= user.username %></td>
        <td><%= user.isAdmin %></td>
        <td><button>toggle</button></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% include ../partials/footer %>
