<% include partials/header %>

<h1>Campgrounds Page</h1>

<a href="/campgrounds/new">Add New Campground</a>
<% campgrounds.forEach(function(campground){ %>
  <h4><%= campground.name %></h4>
  <img src="<%= campground.image %>" style="width:200px" alt="Error, couldn't find image url">
<% }) %>
<hr>
<a href="/">Back to Home</a>

<% include partials/footer %>
