<!DOCTYPE html>
<html>
    <head>
        <title>WinkelCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    <div class="container">
      <% if(message_success && message_success.length > 0){ %>
        <div class="alert alert-success"><%= message_success %></div>
      <% } %>
      <% if(message_error && message_error.length > 0){ %>
        <div class="alert alert-danger"><%= message_error %></div>
      <% } %>
      <% if(message_info && message_info.length > 0){ %>
        <div class="alert alert-info"><%= message_info %></div>
      <% } %>
    </div>

    <div id="landing-header">
   		<h1>Welcome to WinkelCamp!</h1>
  		<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>
