<% include partials/header %>
<h1>Create New Campground</h1>

<form class="" action="/campgrounds" method="post">
  Name: <input type="text" name="name"  placeholder="name">
  Image url: <input type="text" name="image" placeholder="image url">
  <button type="submit">Submit</button>
</form>

<a href="/campgrounds">Back to Campgrounds</a>

<% include partials/footer %>
