<% include partials/header %>

<div class="row">
  <h1 class="sign-title">Sign Up!</h1>
  <div class="sign-form">
    <form action="register" class="form-horizontal" method="POST">
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Username:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="username" placeholder="username">
        </div>
      </div>
      <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">First Name:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="firstName" placeholder="first name">
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-3 control-label">Last Name:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="lastName" placeholder="last name">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email:</label>
        <div class="col-sm-9">
          <input class="form-control" type="email" name="email" placeholder="jamie@oliver.com">
        </div>
      </div>
      <div class="form-group">
        <label for="avatar" class="col-sm-3 control-label">Avatar Picture:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="avatar" placeholder="avatar url">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input class="form-control" type="password" name="password" placeholder="password">
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="30" rows="5" class="form-control" placeholder="tell us something interesting about yourself *"></textarea>
      </div>
      <div class="form-group" class="col-sm-3 control-label">
        <input class="form-control" type="password" name="secret_admin_code" placeholder="admin code *">
        <p><em>* optional fields</em></p>
      </div>
      <div class="form-group">
        <button class="submit form-control btn btn-success">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<% include partials/footer %>
