<% include partials/header %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="Campground Image">

<p>description: <%= campground.description %></p>

<a href="/campgrounds">Back to Campgrounds page</a>

<% include partials/footer %>
