<h1>this is home</h1>

<a href="/secret">LINK TO SECRET PAGE</a>
<P>Above link will only work when logged in ;-)</P>

<li><a href="/register">SignUp</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
