.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.caption-full {
  padding: 20px;
}

.well p {
  padding-left: 10px;
  font-style: italic;
}

.del-form {
  display: inline;
}

.sign-title {
  text-align: center;
}

.sign-form {
  width: 30%;
  margin: 25px auto;
}

#map {
  height: 400px;
  width: 100%;
}

.navbar-default .navbar-nav > .admin-text > a {
  color: white;
  background: #E05B58;
  pointer-events: none;
}

.navbar-default .navbar-nav > .admin-btn > a {
  color: white;
  background: #E38823;
}

.navbar-default .navbar-nav > .admin-btn > a:hover {
  color: black;
  background: #E38823;
}

.footer {
  position: fixed;
  bottom: 0px;
}

.profile-description {
  padding: 10px;
}
