<h1>My Codaisseur Friends</h1>

<ol>
  <% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
  <% }) %>
</ol>

<form class="" action="friend/add" method="post">
  <input type="text" name="new_friend" placeholder="type friend name">
  <button>Click to Add</button>
</form>

<a href="http://localhost:1111">BACK HOME</a>
